<a href="https://colab.research.google.com/github/gantaphani/Phanesh_INFO5502_Spring2022/blob/main/lab_assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first Lab-assignment (01/25/2022, 50 points in total)**

(1) Write a Python program to count the number of characters in a string. (5 points)

Sample String : 'google.com', 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [28]:
from collections import Counter


def returnCount(inputString: str) -> dict:
    return dict(sorted(dict(Counter(inputString)).items(), key=lambda x: x[1], reverse=True))

inputString = "google.com"
print(returnCount(inputString))

{'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(2) Write a Python program to sum all the items in a list. (5 points)

In [29]:
def returnSum(lists: list) -> int:
    return sum(lists)


lists = [2, 3, 5, 6]
print(returnSum(lists))

16

(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (5 points)

Sample String : 'restart', 

Expected Result : 'resta\$t'

In [30]:
from collections import Counter


def returnDuplicateElement(inputString: str) -> str:
    duplicateElement = ""
    Counts = dict(Counter(inputString))
    for key in Counts.keys():
        if Counts[key] > 1:
            return key


def replaceFirstChar(inputstring: str, duplicateElement: str) -> str:
    lists = list(inputstring)
    skipIndex = 0
    for index, value in enumerate(lists):
        if value == duplicateElement:
            skipIndex += 1
            if skipIndex != 1:
                lists[index] = '$'
    return ''.join(lists)


inputstring = "restart"
print(replaceFirstChar(inputstring, returnDuplicateElement(inputstring)))

resta$t

(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (5 points)

In [31]:
def calculation(a: int, b: int) -> str:
    output = 3.14 * ((1 + (a / b)) ** 3)
    return output


a = 2
b = 2
print(calculation(a, b))

25.12

(5) Write a Python program to concatenate following dictionaries to create a new one. (5 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [32]:
dict1 = {1: 10, 2: 20}
dict2 = {3: 30, 4: 40}
dict3 = {5: 50, 6: 60}

result = dict1.copy()
result.update(dict2)
result.update(dict3)
print(result)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(6) Write a Python program to check whether an element exists within a tuple. (5 points)

In [33]:
def checkExists(inputTuple: tuple, part: int)->str:
    if part in inputTuple:
      return "Element exists"
    else:
      return "Element does not exists"


inputTuple = (1, 2, 3)
part = 10
print(checkExists(inputTuple, part))

Element does not exists

(7) Write a Python program to find maximum and the minimum value in a set. (5 points)

In [34]:
inputSet = {12000, 1, 7}
print(max(inputSet), min(inputSet))

12000 1

(8) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (5 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [35]:
from random import sample, randint

inputList = ['ja0964', 'sa1198', 'sb1357', 'vb0218', 'sc1229', 'kg0569', 'kg0470', 'sg1297', 'bg0320', 'fh0141',
             'jl1252', 'sk1386', 'ak0956', 'sk1390', 'sk1458', 'sk1313', 'ak0934', 'vm0377', 'nm0618', 'sm1640',
             'sm1907', 'gn0108', 'pr0353', 'dr0609', 'ms1500', 'aos0040', 'ds0814', 'av0659', 'nv0234', 'hy0232']
count = 6

def generation(inputList: list, count: int):
    for i in range(count):
        print(sample(inputList, randint(4, 6)))

generation(inputList, count)

['kg0569', 'sk1458', 'sm1640', 'vm0377']
['sa1198', 'kg0569', 'sk1458', 'hy0232', 'pr0353', 'vb0218']
['av0659', 'fh0141', 'dr0609', 'sk1386', 'vm0377']
['ds0814', 'ja0964', 'sc1229', 'sk1458']
['sc1229', 'dr0609', 'ja0964', 'jl1252', 'aos0040', 'hy0232']
['sg1297', 'fh0141', 'vm0377', 'sm1640', 'av0659', 'aos0040']

(9) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (5 points)

In [36]:
from collections import Counter


def returnDuplicates(lists: list):
    counts = dict(Counter(lists))
    duplicates = []
    for key in counts.keys():
        if counts[key] > 1:
            duplicates.append(key)
    return duplicates if len(duplicates)>0 else -1


lists = [10,10,30,40]
print(returnDuplicates(lists))

[10]

(10) Write a Python program to select all the Sundays of a specified year. (5 extra points)

In [37]:
from datetime import date, timedelta


def sundays(year):
    temp = []
    dt = date(year, 1, 1)
    dt += timedelta(days=7 - (dt.weekday()+1))
    while dt.year == year:
        temp.append(dt)
        dt += timedelta(days=7)
    return temp


listValues = sundays(1916)
for value in listValues:
    print(value)

1916-01-02
1916-01-09
1916-01-16
1916-01-23
1916-01-30
1916-02-06
1916-02-13
1916-02-20
1916-02-27
1916-03-05
1916-03-12
1916-03-19
1916-03-26
1916-04-02
1916-04-09
1916-04-16
1916-04-23
1916-04-30
1916-05-07
1916-05-14
1916-05-21
1916-05-28
1916-06-04
1916-06-11
1916-06-18
1916-06-25
1916-07-02
1916-07-09
1916-07-16
1916-07-23
1916-07-30
1916-08-06
1916-08-13
1916-08-20
1916-08-27
1916-09-03
1916-09-10
1916-09-17
1916-09-24
1916-10-01
1916-10-08
1916-10-15
1916-10-22
1916-10-29
1916-11-05
1916-11-12
1916-11-19
1916-11-26
1916-12-03
1916-12-10
1916-12-17
1916-12-24
1916-12-31